.venv/
#Face Recognition
.ruff_cache
faceRecognitionEnv/
.env
pgdata/
#Whisper
venvWhisper
venvWhisperTimestamp
__pycache__
whisper.cpp
*.m4a
data
log
cacheHuggingFace/
records/
#TTS
.venv
model/
STT/adlenetmoiuwu.wav

venv_moshi/